body{ background: linear-gradient(to bottom, #ccffff 0%, #999966 100%); background-attachment: fixed;}

.box{
    border-radius: 25px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-shadow: 10px 10px 5px -2px rgb(103, 105, 107);
    background-color: rgb(196, 202, 206);
}
h1{text-align: center;}
p{color: white;}
.screen{
    border: black;
    background-color: rgb(237, 237, 245);
    min-height: 150px;
}
#display_msg{
    color: black;
    padding: 8px;
}
.nickname{
    margin: 10px 10px 15px 10px;
    border-radius: 3px;
    padding: 5px;
    font-size: 25px;
    text-overflow: ellipsis;
}
input{
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    width: 400px;
}