h1{
  text-align: center;
  background-color: rgba(95, 91, 91, 0.7);
}

#right{
  float:right;
  width: 40%;
  background-color: rgba(117, 114, 114, 0.7);
  text-align: center;
  min-height: 500px;
}

#btn_test{
  background-color: rgba(117, 114, 114, 0.7);
  border-radius: 5px;
  padding: 5px;
  font-size: 25px;
  border-width: 2px;
  cursor: pointer;
}

li,h3{
 text-align: justify;
 font-size: 20px;
 font-weight:bold;
 list-style: none;
}

#left{
 float:left;
 padding: 15px;
 width: 55%;
 background-color: rgba(117, 114, 114, 0.7);
 text-align: center;
 height: 660px;
}


